<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Feeding Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item-sliding *ngFor="let jadwal of jadwals">
      <ion-item class="itemm">
        <ion-icon name="alarm" slot="start"></ion-icon>
        <p (click)="edit(jadwal.nama)">{{jadwal.jadwal_jam}}</p>
        <ion-buttons slot="end">
          <ion-button color="danger" (click)="delete(jadwal.nama)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>